.DS_Store
*.csproj
*.userprefs
Library
Temp
*.suo
.cache
*.db
*.opendb
*.user
*.tlog
*.cache
Debug
Release
*.pdb
*.obj
*.tlog
*.sln
*.vpwhist
*.vtg
StreamingAssets
.vs
Main/core/
Main/Assets/StreamingAssets.meta
Main/Assets/Core/Lua/Data/**/*.meta
Main/Assets/Core/Lua/Packets/SCPackets/*.meta
Main/Assets/Core/Lua/Packets/CSPackets/*.meta
Main/\.vscode/
Main/c:/
Main/c/
Main/\.idea/
Main/Logs/
Main/Assets/Core/Lua/.vscode/
Library\metadata\*
ProjectSettings